<h3>New Cocktail:</h3>

<%= simple_form_for (@cocktail) do |f| %>
  <%= f.input :name %>
  <%= f.submit "Add" %>
<% end %>

<p></p>
<p><%= link_to 'Back', cocktails_path %></p>

<!-- adds new cocktail name and leads to the form to get the dose (description-ingredients-pair) via show page -->
