.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(-224deg, rgba(0,100,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1470707592630-d4784581f809?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=655b3a1602fe9f113f4770ddd8cee1ec&auto=format&fit=crop&w=1500&q=80');
}
.banner h1 {
  font-size: 42px;
}
.banner p {
  font-size: 42px;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.link-to-form p a {
  text-decoration: none;
  color: white;
}

.link-to-form:hover p a {
  color: #FFB6B9;
}
